<?xml version="1.0"?>

<!-- Window -->
<window>
  <width>1200</width>
  <height>845</height>
</window>

<!-- GUI plugins -->
<plugin filename='Scene3D' name='3D View'>
  <ignition-gui>
    <title>3D View</title>
    <property type='bool' key='showTitleBar'>false</property>
    <property type='string' key='state'>docked</property>
  </ignition-gui>
  <engine>ogre</engine>
  <scene>scene</scene>
  <ambient_light>0.4 0.4 0.4</ambient_light>
  <background_color>0.1875 0.1875 0.1875</background_color>
  <camera_pose>-6 0 6 0 0.5 0</camera_pose>
</plugin>
