<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <node type="ign_rviz" name="ign_rviz" pkg="ign-rviz" output="screen">
        <!-- ROS Topics -->
        <param name="point_topic" value="/point"/>
        <param name="pose_topic" value="/pose"/>
        <param name="imu_topic" value="/imu"/>
        <param name="marker_topic" value="/visualization_marker"/>
        <param name="tf_topic" value="/tf_static"/>
        <param name="pointcloud_topic" value="cloud_in"/>
    </node>
</launch>